
#main {
    padding: 20px;
}

g.x.axis path {
    display: none;
}

svg {
    font-family: Helvetica, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}